---
import Profile from '../components/Profile.astro';
import PostCard from '../components/PostCard.astro';
import HomeLayout from '../layouts/HomeLayout.astro';
import { compareDesc } from 'date-fns';
import { getCollection } from 'astro:content';

const posts = await getCollection('posts').then((posts) =>
  posts.sort((a, b) => compareDesc(a.data.pubDate, b.data.pubDate))
);
---

<HomeLayout>
  <Profile />
  <main class="flex-auto py-6 px-4 md:px-0">
    <content class="container max-w-screen-sm mx-auto flex flex-col divide-y">
      {posts.map((post) => <PostCard post={post} />)}
    </content>
  </main>
</HomeLayout>
