---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import { AVATAR_LINK, GITHUB_LINK } from '../config';
import ThemeSwitcher from './ThemeSwitcher.astro';
---

<header class="p-4">
  <nav class="max-w-screen-md mx-auto flex items-center">
    <a href="/" class="flex gap-2 items-center">
      <Image
        alt="FizzyElt"
        class="w-10 h-10 rounded-full"
        width={40}
        height={40}
        src={AVATAR_LINK}
        loading="eager"
      />
      <span class="text-lg font-bold">FizzyElt</span>
    </a>
    <div class="flex-auto"></div>
    <div class="flex gap-x-4">
      <a href={GITHUB_LINK} target="_blank" aria-label="FizzyElt Github">
        <Icon size={24} name="mdi:github" />
      </a>
      <ThemeSwitcher />
    </div>
  </nav>
</header>
