---
import Tag from './Tag.astro';
import { format } from 'date-fns';

export interface PostProps {
  post: {
    id: string;
    slug: string;
    body: string;
    collection: string;
    data: {
      tags?: string[];
      title?: string;
      pubDate?: Date;
      description?: string;
      heroImage?: string;
    };
  };
}

const { post } = Astro.props as PostProps;
---

<section class="flex flex-col gap-y-2 py-6">
  <div class="flex items-center">
    <a href={`/posts/${post.slug}`}>
      <h3 class="text-2xl">
        {post.data.title}
      </h3>
    </a>
    <div class="flex-auto"></div>
    <time>{format(post.data.pubDate, 'yyyy/MM/dd')}</time>
  </div>
  <div class="flex flex-wrap gap-x-2 gap-y-2">
    {(post.data.tags || []).map((tag) => <Tag tag={tag} />)}
  </div>
  <p>{post.data.description}</p>
</section>
