---
import { NICK_NAME, AVATAR_LINK } from '../config';
---

<section class="py-10">
  <div class="container max-w-screen-md px-4 mx-auto">
    <div class="flex flex-col items-center justify-center gap-y-8">
      <img class="w-1/4 h-1/4 rounded-full" src={AVATAR_LINK} />

      <h2 class="text-2xl font-bold">{NICK_NAME}</h2>
      <p class="text-center">這裡是我紀錄想法的地方，包含程式、生活、心靈成長</p>
    </div>
  </div>
</section>
