---
import { NICK_NAME } from '../config';
import { Image } from 'astro:assets';
import AVATAR_LINK from '../../public/fizzyelt.png';
---

<section class="py-10">
  <div class="container max-w-screen-md px-4 mx-auto">
    <div class="flex flex-col items-center justify-center gap-y-8">
      <Image
        class="w-1/4 h-1/4 rounded-full"
        alt="FizzyElt avatar"
        loading="eager"
        src={AVATAR_LINK}
      />
      <h2 class="text-2xl font-bold">{NICK_NAME}</h2>
      <p class="text-center">這裡是我紀錄想法的地方，包含程式、生活、心靈成長</p>
    </div>
  </div>
</section>
