---
export interface Props {
  tag: string;
}

const { tag = '' } = Astro.props;
---

<span
  class="rounded-md whitespace-nowrap px-2 bg-emerald-100 text-emerald-900 dark:bg-emerald-900 dark:text-emerald-200"
  >{tag}
</span>
