---
import { Icon } from 'astro-icon/components';
---

<button class="theme-switch">
  <div class="theme-icon-moon">
    <Icon name="mdi:moon-and-stars" size={24} />
  </div>
  <div class="theme-icon-sunny">
    <Icon name="mdi:white-balance-sunny" size={24} />
  </div>
</button>
