---
import { format } from 'date-fns';
import Tag from '../components/Tag.astro';
import MarkdownBaseLayout from './MarkdownBaseLayout.astro';

export interface Props {
  frontmatter: {
    title?: string;
    description?: string;
    pubDate: Date;
    updatedDate?: Date;
    tags?: string[];
    heroImage?: string;
  };
}

const {
  frontmatter: { title = '', description = '', pubDate, heroImage, tags = [] },
} = Astro.props as Props;
---

<MarkdownBaseLayout content={{ title, description, heroImage: heroImage }}>
  <Fragment slot="before-content">
    <section class="flex flex-col gap-y-2">
      <h2 class="text-2xl font-bold">{title || ''}</h2>
      <div class="flex flex-wrap gap-x-2 gap-y-2">
        {tags.map((tag) => <Tag tag={tag} />)}
      </div>
      <time datetime={format(pubDate, 'yyyy/MM/dd')}>{format(pubDate, 'yyyy/MM/dd')}</time>
    </section>
    <hr />
  </Fragment>
  <slot />
</MarkdownBaseLayout>
